body {
  font-family: "poppins", sans-serif;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothings: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(167, 161, 106);
  background-image: url("../public//assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.Main-body img {
  width: 100px;
  height: auto;
}
