* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.home-nav-r {
  background-color: white;
}

.col-md-2 {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
}

.col-md-2 button {
  color: aliceblue;
  margin-top: 1rem;
}

.col-md-10 {
  border: 2px solid black;
}

.col-md-10 h1 {
  padding: 0.5rem 0 0 30rem;
}

.row {
  height: 100vh;
  background-image: url("../../../picturereact.jpg");
}

.inter_video {
  padding: 3rem 3rem 3rem 8rem;
}
