.contain {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 100px;
  height: auto;
}

.home-nav {
  width: 200%;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.intro-logo {
  width: 80px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}

.nav-head {
  font-size: 1.5rem;
  color: #333;
}

.button-container {
  display: flex;
  gap: 20px;
  width: 80%;
}

.coursesButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.coursesButton:hover {
  background-color: #0056b3;
}

.right {
  flex-grow: 1;
  margin-left: 20px;
}

.course {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: start;
}
.coursesButton1 {
  display: flex;
}
.custom-dialog .MuiDialog-paper {
  display: flex;
  min-height: 80vh;
  max-height: 90vh;
  width: 60vw !important;
  border: #ffffff;
  max-width: 100vw !important;
}

.custom-dialog .MuiDialog-container {
  /* display: flex; */
  width: 100% !important;
}

.custom-title {
  border: #333;
  border-radius: 0cqi;
}
.custom-window {
  display: flex;
  justify-content: space-between;
  border: transparent;
  width: 100%;
  height: 200px;
  border-radius: 1px solid #ccc;
  color: white;
  overflow: hidden;
  min-height: 200px;
}
.custom-window1 {
  width: 50%;
  height: 250px;
  cursor: pointer;
  flex-wrap: wrap;
  display: inline-flex;
  justify-content: start;
  background-color: transparent;
  color: transparent;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.custom-window1 button {
  color: white;
  width: 14rem;
  height: 13rem;
  margin: 2rem 0 0 3rem;
}
.a button {
  background-image: url("../../../../public//assets/React.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
}
.b button {
  background-image: url("../../../../public//assets/HTML.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
}
.c button {
  background-image: url("../../../../public//assets/Git.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
}
.d button {
  background-image: url("../../../../public//assets/js_logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
}

.quote {
  text-shadow: 0px 2px brown;
  font-size: 38px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: floralwhite;
  line-height: 2;
  text-align: left;
  margin: 119px;
  margin-left: 10rem;
  width: 30rem;

  justify-content: center;
}

.person {
  position: absolute;
  left: 65rem;
  right: 20rem;
  bottom: 25rem;
  top: 10rem;
  width: 30rem;
  height: 40rem;
  background-image: url("../../../../public/assets/unnamed.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: border-box;
}
.setting_logo {
  width: 5rem;
  margin-left: 5rem;

  background-image: url(../../../../public/assets/set_logo.png);
}
